# packages.config
#
# File used to store basic packages chosen by user to be installed.
#
# Add one package per line, no spaces.
# Lines starting with a hashtag will be disregarded by the script
# The last line of this config file must be blank with no data and no hashtag
# Any other blank line, with the exception of the last line, will cause a runtime error
# when trying to update the package due to the lack of a valid parameter.
#
# Author: piotrek
bleachbit
chntpw
darktable
#dbeaver-ce
discord
dnfdragora
fira-code-fonts
flatseal
gimp
gnome-extensions-app
gnome-screenshot
gnome-tweaks
#'google-roboto*'
grub-customizer
hexchat
keepassxc
#lpf-spotify-client
#'mozilla-fira*'
preload
pycharm-community
p7zip
p7zip-plugins
steam
transmission
udisks
unzip
unrar
vim
vlc
zsh
