# gpgKeys.config
#
# File used to store GPG Keys chosen by user to be installed.
#
# Add one package per line, no spaces.
# Lines starting with a hashtag will be disregarded by the script
# The last line of this config file must be blank with no data and no hashtag
# Any other blank line, with the exception of the last line, will cause a runtime error
# when trying to update the package due to the lack of a valid parameter.
#
# Author: Pedro Liberal
[code]
name=Visual Studio Code
baseurl=https://packages.microsoft.com/yumrepos/vscode
enabled=1
gpgcheck=1
gpgkey=https://packages.microsoft.com/keys/microsoft.asc
